<#assign basePath=request.contextPath> <!doctype html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<title>配置生成页面</title>
<link rel="stylesheet" href="${basePath!}/layui/css/layui.css">
<style>
header {
	/* background-color: #0c0; */
	height: 50px;
	position: relative;
	border-bottom: 2px solid #caa2a2;
	color: blue;
}

.title {
	line-height: 50px;
	position: relative;
	left: 50px;
	font-size: 18px;
	font-weight: bold;
}

#context {
	backgorund-color: #ccc;
}

.layui-card-body li {
	margin-left: 100px;
}
</style>

</head>
<body>
	<div class="layui-container">
		<!-- layui-container-->
		<header>
			<div class='title'>生成配置</div>
		</header>

		<div id="context">
			<div class="layui-card">
				<div class="layui-card-header">
					<!--  输入完毕点击生成-->
					<div class="layui-form-item">
						<label class="layui-form-label">总类别</label>
						<div class="layui-input-block">
							<input type="text" lay-verify="required" style="width: 100px"
								autocomplete="off" placeholder="例如: 3.5" id="znb"
								class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-card-body">
					<ul>
						<li>
							<div class="params">
								<div class="layui-form-item">

									<label class="layui-form-label">输入类别</label>
									<div class="layui-input-block">
										<input type="text" style="width: 100px" autocomplete="off"
											placeholder="eg:Bearing" class="layui-input ptype">
									</div>
								</div>

								<div class="layui-form-item">
									<div class="layui-inline">
										<label class="layui-form-label">1-属性和值</label>
										<div class="layui-input-inline">
											<input type="text" autocomplete="off" class="layui-input F1"
												placeholder="eg:Bearing Type">
										</div>
									</div>
									=
									<div class="layui-inline">
										<label class="layui-form-label">值</label>
										<div class="layui-input-inline">
											<input type="text" style="width: 400px" autocomplete="off"
												class="layui-input V1"
												placeholder="请用逗号分隔 eg:Ball Bearing, Linear Bearing, Others
											">
										</div>
									</div>
								</div>

								<div class="layui-form-item">
									<div class="layui-inline">
										<label class="layui-form-label">2-属性和值</label>
										<div class="layui-input-inline">
											<input type="textg" autocomplete="off" class="layui-input F2">
										</div>
									</div>
									=
									<div class="layui-inline">
										<label class="layui-form-label">值</label>
										<div class="layui-input-inline">
											<input type="text" style="width: 400px" autocomplete="off"
												class="layui-input V2" placeholder="请用逗号分隔">
										</div>
									</div>
								</div>

								<div class="layui-form-item">
									<div class="layui-inline">
										<label class="layui-form-label">3-属性和值</label>
										<div class="layui-input-inline">
											<input type="textg" autocomplete="off" class="layui-input F3">
										</div>
									</div>
									=
									<div class="layui-inline">
										<label class="layui-form-label">值</label>
										<div class="layui-input-inline">
											<input type="text" style="width: 400px" autocomplete="off"
												class="layui-input V3" placeholder="请用逗号分隔">
										</div>
									</div>
								</div>

								<div class="layui-form-item">
									<div class="layui-inline">
										<label class="layui-form-label">4-属性和值</label>
										<div class="layui-input-inline">
											<input type="textg" autocomplete="off" class="layui-input F4">
										</div>
									</div>
									=
									<div class="layui-inline">
										<label class="layui-form-label">值</label>
										<div class="layui-input-inline">
											<input type="text" style="width: 400px" autocomplete="off"
												class="layui-input V4" placeholder="请用逗号分隔">
										</div>
									</div>
								</div>

								<div class="layui-form-item">
									<div class="layui-inline">
										<label class="layui-form-label">5-属性和值</label>
										<div class="layui-input-inline">
											<input type="textg" autocomplete="off" class="layui-input F5">
										</div>
									</div>
									=
									<div class="layui-inline">
										<label class="layui-form-label">值</label>
										<div class="layui-input-inline">
											<input type="text" style="width: 400px" autocomplete="off"
												class="layui-input V5" placeholder="请用逗号分隔">
										</div>
									</div>
								</div>

								<div class="layui-form-item">
									<div class="layui-inline">
										<label class="layui-form-label">6-属性和值</label>
										<div class="layui-input-inline">
											<input type="textg" autocomplete="off" class="layui-input F6">
										</div>
									</div>
									=
									<div class="layui-inline">
										<label class="layui-form-label">值</label>
										<div class="layui-input-inline">
											<input type="text" style="width: 400px" autocomplete="off"
												class="layui-input V6" placeholder="请用逗号分隔">
										</div>
									</div>
								</div>

							</div>
						</li>



					</ul>
				</div>
			</div>
		</div>

		<div class="layui-row">
			<div class="layui-col-md2 layui-col-md-offset9 ">
				<button class="layui-btn layui-btn-warm ayui-btn-lg " id='btn1'>点击生成</button>
			</div>
		</div>
		<div class="result">
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">生成配置</label>
				<div class="layui-input-block">
					<textarea placeholder="配置内容" class="layui-textarea" id="ret_json"></textarea>
				</div>
			</div>
		</div>
	</div>
	<script src="/layui/layui.js"></script>
	<script>
		//一般直接写在一个js文件中
		layui.use([ 'layer', 'form', 'jquery', 'element' ], function() {
			var layer = layui.layer, form = layui.form;
			var $ = layui.jquery;
			var element = layui.element;

			$('#btn1').click(function() {
				var key = '*.' + $('#znb').val();
				$li = $('.layui-card-body ul li');
				var len = $li.length;
	/* 			"*.3.2" : [ {
					ptype : 'Master Batch',
					prop : [ {key:'Supplier P/N',values:['','','']}, 'Materials', 'Color Name',
							'LEGO Color', 'Pantone Color', 'Special Number' ]
				} ], */
				var retjson = {}
				retjson[key] = [];
				var item;
				var ptype=$('.ptype').val();
				retjson[key].push({ptype:ptype,prop:[]});
				console.log(JSON.stringify(retjson))
				for (var i = 0; i < len; i++) {
					item = {};
					
					var f1 = $($li).find('.F1').eq(i).val();
					var v1 = $($li).find('.V1').eq(i).val();
					var f2 = $($li).find('.F2').eq(i).val();
					var v2 = $($li).find('.V2').eq(i).val();
					var f3 = $($li).find('.F3').eq(i).val();
					var v3 = $($li).find('.V3').eq(i).val();
					var f4 = $($li).find('.F4').eq(i).val();
					var v4 = $($li).find('.V4').eq(i).val();
					var f5 = $($li).find('.F5').eq(i).val();
					var v5 = $($li).find('.V5').eq(i).val();
					var f6 = $($li).find('.F6').eq(i).val();
					var v6 = $($li).find('.V6').eq(i).val();
					if (f1) {
						item = {
							key : f1,
							values : []
						}
						if (v1)
							item.values = v1.split(',');
						retjson[key][i].prop.push(item)
					}
					if (f2) {
						item = {
							key : f2,
							values : []
						}
						if (v2)
							item.values = v2.split(',');
						retjson[key][i].prop.push(item)
					}
					if (f3) {
						item = {
							key : f3,
							values : []
						}
						if (v3)
							item.values = v3.split(',');
						retjson[key][i].prop.push(item)
					}
					if (f4) {
						item = {
							key : f4,
							values : []
						}
						if (v4)
							item.values = v4.split(',');
						retjson[key][i].prop.push(item)
					}
					if (f5) {
						item = {
							key : f5,
							values : []
						}
						if (v5)
							item.values = v5.split(',');
						retjson[key][i].prop.push(item)
					}
					if (f6) {
						item = {
							key : f6,
							values : []
						}
						if (v6)
							item.values = v6.split(',');
						retjson[key][i].prop.push(item)
					}
				}

				$('#ret_json').val(JSON.stringify(retjson));
			})
		});
	</script>

</body>
</html>